<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.new_one"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Controller.MainActivity"
            android:label="@string/app_name"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <uses-permission android:name="android.permission.INTERNET"/>

        <activity android:name=".Fragment_main"
                 android:label="@string/app_name">
        </activity>
            <activity android:name=".Controller.SingleMoviewFragment"
                android:label="@string/singleMovieActivityFg">

                <activity android:name=".Controller.ReviewsActivity"

                    android:noHistory="true"
                    android:label="@string/reviewsDialogName">

                </activity>
                <activity android:name=".Controller.TrailerActivity"

                    android:noHistory="true"
                    android:label="@string/trailerDialogName">

                </activity>

            </activity>
        </activity>

        <activity android:name=".Controller.SingleMoviewActivity"
            android:label="@string/singleMovieActivity">

        </activity>


        <activity android:name=".Controller.UserSettingActivity"
                 android:label="@string/app_settinge">

        </activity>

        <activity android:name=".HelperClasses.AndroidDatabaseManager"
            android:theme="@style/Theme.AppCompat.Light"/>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
